name: Release

on:
  push:
    tags:
      - v*.*.*

env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

jobs:
  test:
    name: Publish
    runs-on: ubuntu-latest
    environment: Production
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          registry-url: https://registry.npmjs.org/

      - name: Update npm
        run: npm install -g npm@latest

      - run: pnpm install --frozen-lockfile

      - name: Print Environment Info
        run: pnpm nx report
        shell: bash

      - name: Publish packages
        run: pnpm nx release publish
        shell: bash
        env:
          NPM_CONFIG_PROVENANCE: true
